<template name="fisSplashScreen">
    <div class="fis-splash-screen">
        <div class="fis-logo">
            <img src="assets/images/logo.svg">
        </div>
        <div class="container">

            <h1>Friends in Space: your journey with <a href="https://twitter.com/AstroSamantha" target="_blank">@AstroSamantha</a></h1>

            <p class="description">Friends in Space is the first social network that extends beyond Earth; <br/>
                a 6 months-long open window to make new friends from all over the world and join astronaut Samantha Cristoforetti in her expedition to the International Space Station.</p>

            <p class="button">
                <a class="fis-button" href="/home">START TRAVELLING</a>
            </p>

        </div>

    </div>

</template>