<template name="fisLegend">
    <div class="fis-legend">
        <div class="fis-legend-container">
            <div class="stars">
                <div class="star"><span class="legend-text">STAR WITH 15 + PEOPLE</span><i class="icon-fixed-star-5"></i></div>
                <div class="star"><span class="legend-text">STAR WITH 10 -> 14 PEOPLE</span><i class="icon-fixed-star-4"></i></div>
                <div class="star"><span class="legend-text">STAR WITH 5 -> 9 PEOPLE</span><i class="icon-fixed-star-3"></i></div>
                <div class="star"><span class="legend-text">STAR WITH 2 -> 4 PEOPLE</span><i class="icon-fixed-star-2"></i></div>
                <div class="star"><span class="legend-text">STAR WITH 1 PERSON</span><i class="icon-fixed-star-1"></i></div>
            </div>
            <div class="colors">
                <div class="color"><span class="legend-text">ACTIVE 20 min ago</span>

                    <div class="cube color-5"></div>
                </div>
                <div class="color"><span class="legend-text">ACTIVE 10 min ago</span>

                    <div class="cube color-4"></div>
                </div>
                <div class="color"><span class="legend-text">ACTIVE 5 min ago</span>

                    <div class="cube color-3"></div>
                </div>
                <div class="color"><span class="legend-text">ACTIVE 2 min ago</span>

                    <div class="cube color-2"></div>
                </div>
                <div class="color"><span class="legend-text">ACTIVE 1 min ago</span>

                    <div class="cube color-1"></div>
                </div>
            </div>
            <div class="colors on-orbit-color">
                <div class="color"><span class="legend-text">ON ORBIT</span>

                    <div class="cube color-orbit"></div>
                </div>
            </div>
        </div>
    </div>
</template>