<template name="fisAbout">


    <div class="fis-about">
        <div id="about-container" class="container">

            <div id="section-header" class="section">


                <div class="title">
                    <img src="assets/images/about/logo-fis.svg" width="450px"/>
                </div>

                <div class="description">
                    Friends in Space is the first social network that extends beyond Earth;<br/>
                    a 6 months-long open window to make new friends from all over the world<br/>
                    and join astronaut Samantha Cristoforetti in her expedition<br/>
                    to the International Space Station.
                </div>

                <div class="notice">
                    SCROLL DOWN, LEARN HOW IT WORKS!
                </div>

                <div class="credits">
                    this project has been imagined, designed and<br/>
                    developed by Accurat (<a class="link" href="http://www.accurat.it" target="_blank">www.accurat.it</a>)<br/>
                    <a class="img" href="http://www.accurat.it" target="_blank"><img src="assets/images/about/logo-akkurat.svg" width="150px" style="margin-top: -30px;"/></a>
                </div>

                <div class="credits-link">
                    <span id="see-credits">See full credits &#8595;</span>
                </div>


            </div>

            <div id="section-01" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-02" class="section">
                <div class="title">
                    now, the past and the future
                </div>

                <div class="description">
                    <table>
                        <tbody>
                        <tr>
                            <td class="col-left">
                                The homepage of Friend in Space is your<br/>
                                real-time open window on the I.S.S. orbits.<br/>
                                Here you will see where Samantha is right<br/>
                                now, what she is doing, what she is looking at<br/>
                                from above and who else is <span class="highlight">"out in space"</span><br/>
                                <span class="highlight">with you and her</span>. Log in with one of your<br/>
                                social accounts and <span class="highlight">make new friends</span>: the<br/>
                                little stars you see are the people that, just<br/>
                                like you, are connected and want to share<br/>
                                some time with Samantha and with all the<br/>
                                space enthiusiasts from all over the world.
                            </td>
                            <td class="col-right">
                                If you don't want to connect but let Friends in<br/>
                                Space access your position from your<br/>
                                browser, <span class="highlight">you will see yourself</span> among these<br/>
                                stars, and you will know when you will be<br/>
                                part of her orbit and when you can say<br/>
                                "Hello" to her! Using the controls at the top<br/>
                                of the screen you can switch on and off the<br/>
                                world map on the background, the live HD<br/>
                                video feed from the I.S.S. cameras and the<br/>
                                voices of Samantha and the other astronauts<br/>
                                streaming from inside the station.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <div id="section-03" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-04" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-05" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-06" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-07" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-08" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-09" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-10" class="section image">
                <div class="back-image image-bg"></div>
            </div>

            <div id="section-footer" class="section">
                <div class="footer-row-01">
                    <div class="footer-col-left">
                       <a href="http://www.accurat.it" target="_blank"><img src="assets/images/about/logo-akkurat.svg" width="120px"/></a>
                    </div>

                    <div class="footer-col-right" style="padding-top: 45px;">
                        This project was ideated, designed and produced by <a href="http://www.accurat.it" target="_blank">Accurat</a><br/>
                        <br/>
                        Giorgia Lupi, Simone Quadri, Gabriele Rossi,<br/>
                        Alex Piacentini, Marco Vettorello, Francesco Merlo
                    </div>
                </div>

                <div class="footer-row-02">
                    <div class="footer-col-left">
                        THANKS
                    </div>

                    <div class="footer-col-right">
                        In collaboration with Samantha Cristoforetti.<br/>
                        With the precious help of Paolo Amoroso, Brigitte Bailleul, Eico Neumann, Remco Timmermans.<br/>
                        Thanks to Anne Cpamoa, Nick Howes, Riccardo Rossi, Michael Sacchi, Marco Zambianchi, Lionel Ferra, Olivia Haider, Jane MacArthur, Simone Corbellini.<br/>
                        Developed thanks to: <a href="https://www.meteor.com/" target="_blank">Meteor.js</a> <a href="http://openlayers.org/" target="_blank">OpenLayer3</a> <a href="https://github.com/shashwatak/satellite-js" target="_blank">Satellite.js</a>
                    </div>
                </div>

                <div class="footer-row-03">
                    <div class="footer-col-left">
                        PRESS
                    </div>

                    <div class="footer-col-right">
                        Contact us at <a href="mailto:info@accurat.it">info@accurat.it</a> or download out press kit <a href="https://www.dropbox.com/s/xos7fscm5odlhww/FIS_11_16.zip?dl=0" target="_blank">here</a>.
                    </div>
                </div>

                <div class="footer-row-04">
                    <div class="footer-col-left">
                        CONTACT
                    </div>

                    <div class="footer-col-right">
                        For comments, advices, troubles or questions feel free to <span class="boxed"><a href="mailto:info@accurat.it">WRITE US!</a></span>
                    </div>
                </div>


            </div>

        </div>
    </div>
</template>