<template name="fisDisclaimerModal">

    <div class="fis-disclaimer-modal-bg">

        <div class="modal">
            <div class="disclaimer-modal">

                <div class="title">
                    What is this?
                    <div class="close" id="disclaimer-close"><i class="icon-cancel"></i></div>
                </div>
                <div id="disclaimer-modal-text" class="text">
                    <div class="content">
                        <p>Friends in Space is a 100% independent and self-funded project we ideated, designed and developed at <a href="http://www.accurat.it" target="_blank">Accurat</a>.
                            <br/>

                        <ul>
                            <li>It has no ads;</li>
                            <li>We don't own or sell users’ data;</li>
                            <li>We make no money out of it.</li>
                        </ul>
                        </p>

                        <p>Why did we do it, then?<br/>
                            Because:
                        <ul>
                            <li>We wanted to do something for Samantha; she is amazing and you already know that;</li>
                            <li>We wanted to experiment on how real time data can be transformed in a human and emotional interactive experience, and connect people;</li>
                            <li>We love space, and we love data, and space + data = awesome!(because we're nerds, there's no other way to put it)</li>
                        </ul>

                        </p>

                        <p>We're sorry it only works on computers and not on mobile devices, for now, and we're sorry if it still misses part of the features we envisioned.</p>

                        <p>We will do our best to update it and maintain it, but keep in mind that we're doing it in our spare time!</p>

                        <p>If you like what we did here, you might also consider to hire <a href="http://www.accurat.it" target="_blank">Accurat</a> to ideate, design and develop
                            other engaging data-driven interactive experiences!</p>

                        <p>(You can learn more on how it works in the <a href="http://www.friendsinspace.org/about.html" target="_blank">About</a> page)</p>

                        <p>Welcome!<br/>
                            <a href="http://www.accurat.it" target="_blank">Accurat team</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>