<template name="fisSamProfile">
    <div class="fis-sam-profile">
        <div class="sam-profile sam-image"></div>
        <div class="sam-data">
            <div class="profile">
                <span class="location">{{ samLocation }} &#9472;</span>
                <a class="name" href="https://twitter.com/astrosamantha" target="_blank">@astrosamantha</a>
            </div>
        </div>
        <div class="sam-actions">
            <div class="fis-button"><a href="http://www.friendsinspace.org/about-iss.html" target="_blank">THE ISS</a></div>
            <div class="fis-button"><a href="http://www.friendsinspace.org/about-sam.html" target="_blank">SAMANTHA'S STORY</a></div>
        </div>

    </div>
</template>