<template name="fisFuture">

    <div id="tracker-future" class="tracker-container view-future">
        <div class="map"></div>
        <div class="time-labels"></div>
        <div class="current-orbit-time"><span class="current-view"></span> &#8213; <span class="current-time"></span> UTC</div>
        <div class="controls">
            <div class="fis-button zoom-in">+</div>
            <div class="fis-button zoom-out">-</div>
        </div>
        <div class="help">&#8593; scroll up to explore future orbits</div>
        <!--<div class="attribution">© <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>  contributors © <a href="http://cartodb.com/attributions#basemaps" target="_blank">CartoDB</a>, CartoDB <a href="http://cartodb.com/attributions" target="_blank">attribution</a></div>-->
    </div>

</template>
